.page {
  background-color: pink;
  background-image: url("unsplash2.jpeg");
  /* background-repeat: repeat-y;
  background-attachment: fixed; */
  position: absolute;
  padding: 0px;

  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
}

.top-bar {
  background-color: rgba(256,256,256,1);
  color: black;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px; 
  left: 0px;
  z-index: 100;
  font-family: 'Quicksand', sans-serif;
}

.navigation {
  width: 80%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  border-bottom: 3px solid #EFACA9;
  text-decoration: none;
  color: black;
}

.top-bar .navigation ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  color: black;
}

.top-bar .navigation ul li {
  margin: 10px;
}

.top-bar .navigation ul li a {
  text-decoration: none;
  color: black;
}

.top-bar .navigation ul li:hover {
  border-bottom: 3px solid #EFACA9;
}

.top-bar .navigation ul li.active {
  border-bottom: 3px solid #EFACA9;
}

.content {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  
  background-color: rgba(256,256,256,.85);
  border: 1px solid pink;
}

.landing {
  padding: 100px;
  display: flex;
  flex-direction: row;
}

.landing .img-wrapper {
  padding: 10px;
  flex: 1;
  /* opacity: 100%; */
}

.landing img {
  width: 100%;
  border-radius: 50%;
}

.landing .welcome {
  flex: 2;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing .welcome .header {
  text-align: center;
}

.landing .welcome .header .name {
  font-size: 100px;
  border-bottom: 1px solid rgba(255, 192, 203, 0.8);
  padding: 20px;
  margin: 20px;
}

.landing .welcome .middle-info {
  text-align: center;
  width: 300px;
  font-size: max(1em, 15px);
}

.landing .welcome .icons {
  font-size: 40px;
}

.landing .welcome .icons .icon-link {
  text-decoration: none;
  /* color: rgb(233, 152, 166); */
  color: #EFACA9;
}



/* Experience */ 

.experience {
  background-color: rgba(256,256,256,1);
  padding: 50px;
}

.experience .title {
  text-align: center;
  font-size: 3.5rem;
  color: #EFACA9;
  /* font-size: 120%; */
}


.experience .year-decorator {
  color: gray;
  font-size: 65%;
}


@media(max-width: 1000px) {

  /* Flip to vertical layout */
  .landing {
    flex-direction: column;
    font-size: .5rem;
  }

  /* Make photo bigger */ 
  .landing .img-wrapper {
    padding: 0px;
  }

  /* Make name smaller */
  .landing .welcome .header .name {
    font-size: 50px;
  }


}

@media(max-width: 400px) {
  /* Wider content */ 
  .content {
    width: 90%;
  }

  .navigation ul {
    padding-inline-start: 0px;
  }

  .experience {
    padding: 5px;
  }

  .experience .title {
    font-size: 2rem;
    padding: 5px;
  }

  .experience h1 {
    font-size: 1.5rem;
    padding: 5px;
  }

  .experience ul {
    padding-left: 30px;
  }
}